/* Login CSS */

.login {
    position: absolute;
    top: 15%;
    left: 30%;
    right: 30%;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(6, 0, 0, 0.46);
    font-family : "Roboto","Helvetica Neue",sans-serif;
  }
  .login-content {
    min-width: 150px;
    width: 100%;
  }
  .login-width {
    width:100%;
  }
  .login-checkbox {
    padding-bottom: 1.25em;
  }
  ::ng-deep snack-bar-container.error-warning {
    color: white;
    background-color: #A12020;
    width: 100%;
  }
  .title {
    background-color: #7b1fa2;
    color: white;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 4px;
    border-radius: 3px;
    height: 50px;
    text-align: center;
    z-index: 3;
    box-shadow: 0 2px 4px rgba(6, 0, 0, 0.46);
  }
  .title-text {
    padding-top: 8px;
  }