<h1 md-dialog-title>Add User</h1>

<form>
    <div md-dialog-content>
      <table class="example-full-width">
        <tr>
          <td><md-form-field color="accent">
              <span mdPrefix>mitrais\</span>
              <input mdInput placeholder="Account Name" [(ngModel)]='temporaryData.accountName' [ngModelOptions]="{standalone: true}">
          </md-form-field></td>
          <td><md-form-field color="accent">
              <input mdInput placeholder="Password" [(ngModel)]='temporaryData.password' [ngModelOptions]="{standalone: true}" >
            </md-form-field></td>
        </tr>
        <tr>
          <td><md-form-field color="accent">
              <input mdInput placeholder="Full Name" [(ngModel)]='temporaryData.fullName' [ngModelOptions]="{standalone: true}">
            </md-form-field></td>
            
            <td><md-form-field color="accent">
                    <input mdInput placeholder="Stream" [(ngModel)]='temporaryData.stream' [ngModelOptions]="{standalone: true}">
                </md-form-field></td>
        </tr>
        <tr>
          <td><md-select color="accent" class="example-full-width" placeholder="Grade" [(ngModel)]='temporaryData.gradeId' [ngModelOptions]="{standalone: true}">
              <md-option *ngFor="let grade of grades" [value]="grade.gradeId">
                  {{ grade.grade }}
              </md-option>
            </md-select></td>
            <td><md-select color="accent" class="example-full-width" placeholder="Location" [(ngModel)]='temporaryData.locationId' [ngModelOptions]="{standalone: true}">
            <md-option *ngFor="let location of locations" [value]="location.locationId">
                {{ location.location }}
            </md-option>
            </md-select></td>  
        </tr>
      </table>
      <md-form-field color="accent">
          <input mdInput placeholder="Email" [(ngModel)]='temporaryData.email' [ngModelOptions]="{standalone: true}">
        </md-form-field>
    </div>
    
    <button md-raised-button color="accent" (click)="saveUser()">Add User</button>
    <button md-raised-button color="warn" (click)="onNoClick()">Cancel</button>
</form>
