<div>
  <md-card>
    <md-card-title>Users</md-card-title>
    <md-card-content>
      <div class="filter inline">
        <md-form-field color="accent">
          <input mdInput #filter placeholder="Search">
        </md-form-field>
      </div>

      <div class="add-user inline"><button md-raised-button color="accent" (click)="openDialogAdd()"><md-icon>add</md-icon> Add User</button></div>
      
      <md-table #table [dataSource]="dataSource">
        
        <ng-container mdColumnDef="employeeId">
          <md-header-cell *mdHeaderCellDef> Employee ID </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.employeeId}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="fullName">
          <md-header-cell *mdHeaderCellDef> Full Name </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.fullName}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="email">
          <md-header-cell *mdHeaderCellDef> Email </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.email}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="jobFamily">
          <md-header-cell *mdHeaderCellDef> Job Family </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.jobFamily}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="grade">
          <md-header-cell *mdHeaderCellDef> Grade </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.grade}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="accountName">
          <md-header-cell *mdHeaderCellDef> Account Name </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.accountName}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="active">
          <md-header-cell *mdHeaderCellDef> Active </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.active}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="role">
          <md-header-cell *mdHeaderCellDef> Role </md-header-cell>
          <md-cell *mdCellDef="let user"> {{user.role}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="action">
            <md-header-cell *mdHeaderCellDef> Action </md-header-cell>
            <md-cell *mdCellDef="let user">
              <button md-icon-button class="md-small" color="accent" mdTooltip="Edit"><md-icon>border_color</md-icon></button>
            </md-cell>
          </ng-container>
    
        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>

      <md-paginator #paginator
            [length]="userDatabase.data.length"
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5,10, 25, 50, 100]">
      </md-paginator>
 
    </md-card-content>
  </md-card>
</div>
