.add-user{
    float: right;
}
md-form-field{
    width: 100%;
}
.filter{
    width: 50%;
}
.inline {
    display: inline-block;
}
.action-button {
    background-color: white;
}
.image-button {
    width: 10px;
    height: 10px;
}