<h1 md-dialog-title>Add Period</h1>

<form>
        <md-radio-group  [(ngModel)]='temporaryData.periodic' [ngModelOptions]="{standalone: true}">
                <md-radio-button value='false'>Fixed</md-radio-button>
                <md-radio-button value='true' >Periodic</md-radio-button>
            </md-radio-group><br>
    <div md-dialog-content>
        <md-form-field color="accent">
            <input mdInput placeholder="Training Name" [(ngModel)]='temporaryData.trainingName' name="trainingName">
        </md-form-field>
    </div>
    <div md-dialog-content>
        <md-form-field color="accent">
            <input mdInput placeholder="Start Date" [(ngModel)]='temporaryData.startDate' name="startDate" [mdDatepicker]="startDate" [max]=temporaryData.endDate>
            <md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
            <md-datepicker touchUi="true" #startDate></md-datepicker>
            <md-error *ngIf="addPeriodFormControl.hasError('required')">
                    Start Date is <strong>required</strong>
            </md-error>
        </md-form-field>
    </div>
    <div md-dialog-content>
        <md-form-field color="accent">
            <input mdInput placeholder="End Date" [(ngModel)]='temporaryData.endDate' name="endDate" [mdDatepicker]="endDate" [min]='temporaryData.startDate'>
            <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
            <md-datepicker touchUi="true" #endDate></md-datepicker>
            <md-error *ngIf="addPeriodFormControl.hasError('required')">
                    End Date is <strong>required</strong>
            </md-error>
        </md-form-field>
    </div>
    <div class="checkbox-enrollment">
        <md-checkbox name="openEnrollment" [(ngModel)] = "temporaryData.openEnrollment" >Is Enrollment Open?</md-checkbox>
    </div>
    <button md-raised-button color="accent" (click)="addAperiod()">Add Period</button>
    <button md-raised-button color="warn" (click)="onNoClick()">Cancel</button>
</form>
