<div>
        <md-card-title>Training Period</md-card-title>
        <md-card-content>
          <div class="filter inline">
            <md-form-field color="accent">
              <input mdInput #filter placeholder="Search">
            </md-form-field>
          </div>
          <div *ngIf="activeRole == 1" class="add-period inline"><button md-raised-button color="accent" (click)="openDialogAdd()"><md-icon>add</md-icon> Add Period</button></div>
          
          <table id="period-table" class="mdl-data-table" cellspacing="0" width="100%">
          </table>
    
        </md-card-content>
</div>