.add-period{
    float: right;
}

md-form-field{
    width: 100%;
}
.filter{
    width: 50%;
}
.inline {
    display: inline-block;
}
.checkbox-enrollment {
    padding-bottom: 1.25em;
}
.dialog-delete{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
