<!-- Dashboard UI -->
<md-toolbar color="primary" class="mat-elevation-z4" (click)="sidenav.close()">
<span>
    <button class="menu" type="button" md-button (mouseover)="sidenav.open()" (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
    </button>
</span>
<span><a class="title" routerLink="/home" (click)=sidenav.close()>Training Admin System</a></span>
<span class="fill-remaining-space"></span>
<span><button md-button [mdMenuTriggerFor]="menuLogout"><md-icon>person</md-icon> {{username}}</button></span> 
<md-menu #menuLogout="mdMenu">
        <button md-button  (click)=logout() routerLink="/login"><md-icon>exit_to_app</md-icon> Logout</button>
 </md-menu>
</md-toolbar>

<md-sidenav-container>
<md-sidenav #sidenav>
    <button md-button (click)=sidenav.close() routerLink="/home/period" color="accent">Period</button>
    <span *ngIf="userRole == 1">
        <button md-button (click)=sidenav.close() routerLink="/home/user" color="accent">User</button>    
    </span>       
    <button md-button (click)=sidenav.close() routerLink="/home/enrollment" color="accent">Enrollment</button>
    <button md-button (click)=sidenav.close() routerLink="/home/achievement" color="accent">Achievement</button>
    <span *ngIf="userRole == 1 || userRole == 2">
        <button md-button (click)=sidenav.close() routerLink="/home/maintenance" color="accent">Training Maintenance</button>    
    </span> 
    
    
    
</md-sidenav>

<div class="app-content mat-typography">
    <router-outlet></router-outlet>
</div>

</md-sidenav-container>