<div>
    <md-card>
      <md-card-title>Achievement Maintenance</md-card-title>
      <md-card-content>
          <div class="filter inline">
              <md-form-field>
                <input mdInput #filter placeholder="Course Name">
              </md-form-field>
    
            </div>
        <md-table #table [dataSource]="dataSource" mdSort>
          
          <ng-container mdColumnDef="employeeId">
            <md-header-cell *mdHeaderCellDef md-sort-header> Employee Id </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.employeeId}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="employeeName">
            <md-header-cell *mdHeaderCellDef md-sort-header> Employee Name </md-header-cell>
            <md-cell *mdCellDef="let achievement" >{{achievement.employeeName}}</md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="jobFamily">
            <md-header-cell *mdHeaderCellDef md-sort-header> Job Family </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.jobFamily}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="grade">
            <md-header-cell *mdHeaderCellDef md-sort-header> Grade </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.grade}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="office">
            <md-header-cell *mdHeaderCellDef md-sort-header> Office </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.office}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="begining">
            <md-header-cell *mdHeaderCellDef md-sort-header> Begining </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.begining}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="li1">
            <md-header-cell *mdHeaderCellDef md-sort-header> LI 1 </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.li1}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="li2">
            <md-header-cell *mdHeaderCellDef md-sort-header> LI 2 </md-header-cell>
            <md-cell *mdCellDef="let achievement" >{{achievement.li2}}</md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="int1">
            <md-header-cell *mdHeaderCellDef md-sort-header> Int 1 </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.int1}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="int2">
            <md-header-cell *mdHeaderCellDef md-sort-header> Int 2 </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.int2}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="bw1">
            <md-header-cell *mdHeaderCellDef md-sort-header> BW 1 </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.bw1}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="ce1">
            <md-header-cell *mdHeaderCellDef md-sort-header> CE 1 </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.ce1}} </md-cell>
          </ng-container>

          <ng-container mdColumnDef="bw2">
            <md-header-cell *mdHeaderCellDef md-sort-header> BW 2 </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.bw2}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="ce2">
            <md-header-cell *mdHeaderCellDef md-sort-header> CE 2 </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.ce2}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="presentationSkill">
            <md-header-cell *mdHeaderCellDef md-sort-header> Presentation Skill </md-header-cell>
            <md-cell *mdCellDef="let achievement"> {{achievement.presentationSkill}} </md-cell>
          </ng-container>
  
          <ng-container mdColumnDef="action">
            <md-header-cell *mdHeaderCellDef md-sort-header> Action </md-header-cell>
            <md-cell *mdCellDef="let achievement"><button md-icon-button [mdMenuTriggerFor]="menu"><md-icon>more_horiz</md-icon></button></md-cell>
            <md-menu #menu="mdMenu">
                <button md-icon-button class="md-small" color="accent" mdTooltip="Edit" (click)="editAchievement(achievement)"><md-icon>border_color</md-icon></button>
                <button md-icon-button class="md-small" color="accent" mdTooltip="Detail" (click)="viewDetail(achievement)"><md-icon>info</md-icon></button>
            </md-menu>
          </ng-container>
      
          <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
          <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
        </md-table>
  
        <md-paginator #paginator
        [length]="0"
        [pageIndex]="0"
        [pageSize]="0"
        [pageSizeOptions]="[10, 25, 50, 100]">
        </md-paginator>
   
      </md-card-content>
    </md-card>
  </div>
